body {
    background-image: url(https://lh3.googleusercontent.com/proxy/ylk23saLa8Pjn4nunZr28sjfm_-oem3JKf-88MhOfEyVxre7608EjHC8_2xeOra7u8tH3QZEYdPosrt-oRCy_nCG67pU-d6okhL_vEkgisBz6MeG5hewu2lprKk53N-No0cJZ5WhSPw1ctBGMVSwDV3GAE_XIXQHlmma8w);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size: 75%;
}

.timer {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
  
  
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.value {
 
  padding: 10px 10px;
  font-weight: bold;
  font-size: 42px;
  border-radius: 50%;
  text-align: center;
  color: rgba(0, 0, 0, 0.89);
 
}
.label {
  margin-top: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.89);
}